header{
    background-color: yellowgreen;
    text-align: right ;
    margin: auto;
}
div {
    text-align: center;
    background-color: cyan;
    border-radius: 60%;
    margin-block-end: 10%;
    border-style: hidden ;
}
nav{
    float: top;
    background-color: transparent;
    display: inline-block;
    color: tomato;
    -ms-text-combine-horizontal: all;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}