img {
    font-size: 5%;
}

div.1 {
      width: 180px; 
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
  
  li {
    float: left;
  }
  
  li a {
    border-radius: 40%;
    list-style-type: none;
    display: block;
    padding: 8px;
    background-color: #35e97a;
  }