img {
    font-size: 5%;
}
body{
    background-color: black;
}

img.hb {
      width: 100px;
      border-radius: 50%; 
    }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
  
  li {
    float: left;
  }
  
  li a {
    border-radius: 40%;
    list-style-type: none;
    display: block;
    padding: 8px;
    background-color: #35e97a;
  }